[project]
	description = coreos player
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dchirag
[access "refs/for/refs/*"]
	read = group user/dchirag
	push = group user/dchirag
	label-Code-Review = -2..+2 group user/dchirag
	label-Verified = -1..+1 group user/dchirag
	rebase = group user/dchirag
	removeReviewer = group user/dchirag
	submit = group user/dchirag
[access "refs/heads/*"]
	read = group user/dchirag
	create = group user/dchirag
	push = +force group user/dchirag
	pushMerge = group user/dchirag
[access "refs/tags/*"]
	push = +force group user/dchirag
	pushTag = group user/dchirag
	pushSignedTag = group user/dchirag
